/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
   margin: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #FBFEFF;
}

header{
  background-color: #5A31FC;
  height: 60vh;
}

nav{
  float: right;
  margin-right: 25px;
  margin-top: 20px;
}

.logo{
  margin-top: 35px;
  margin-left: 35px;
}

.nav-item{
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  padding-right: 20px;

}

.nav-item-active{
  background-color: #fff;
  font-size: 14px;
  color: #4e2fca;
  border-radius: 1px;
  padding: 10px ;
  margin-right: 20px;


}


.header-text{
  float: left;
  margin-top: 50px;
  margin-left: 35px;
  
  
}


.header-text h2{
  font-size: 50px;
  font-family: 'poppins',sans-serif;
  color: #ffffff;
   
}

.header-text p{
  font-size: 20px;
  font-family: 'poppins',sans-serif;
  color: #ffffff;
}

.header-image{
  position: relative;
  margin-left: 225px; 
}

.companies{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 35px;
  margin-top: 35px;
  width: 50%;

}

.company-items{
  text-decoration: none;
  color: #1d1d1d;
  font-size: 25px;
  font-family: 'Righteous',sans-serif;
  font-weight: 700;
}


.api{
  margin-top: 80px;
  margin-left: 35px;
}

.api-heading {
  font-size: 45px;
  font-weight:900;
  font-family: 'poppins',sans-serif;
}

.cards{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 35px;
  justify-content: space-between;
  background:transparent;
}

.card{
  background-color: #fff;
  width: 15%;
  height: 250px;
  
}

.card-active{
  box-shadow: 0 5px 15px black;
  border-radius: 10px;
  background-color: #fff;
  width: 15%;
  


}

.card-logo{
  margin-left: 15px;
  margin-top: 20px;

}

.card-head-active{
  font-size: 20px;
  font-weight: 900;
  color: #4e2fca;
  margin-top: 20px;
  margin-left: 20px;
}

.card-body{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.card-head{
  font-size: 22px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 900;
}

.blog-heading{
  margin-left: 40px;
  margin-top: 100px;
  font-size: 30px;
  color: #1d1d1d;
  font-weight: 700;
}

.blog-cards{
  margin-top: 50px;
  margin-left: 35px;
  display: flex;
  flex-direction: row;
}

.blog-card{
  display: flex;
  width: 40%;
  background-color: #fff;
  margin-left: 20px;
  border-radius: 10px;

}

.blog-bottom{
  position: absolute;
  margin-top: 260px;
  margin-left: 290px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.blog-author{
  position: absolute;
  margin-top: 135px;
  margin-left: 180px;
  width: 150px;
}

.blog-content{
  margin-left: 40px;
  margin-top: 20px;
  width: 120%;
}

.blog-content h6{
  color: #5A31FC;
}

.blog-content h3{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bolder;
}

.blog-content small{
  width: 150px;
  height: 10px;
  font-size: 12px;
  font-weight: 900;
}

.faq-section{
  margin-top: 60px;
  background-color: #E9EDFF;
  display: flex;
  height: 400px;
}

.faq-content{
  margin-left: 55px;
}

.faq-content h2{
  font-size: 50px;
  margin-top: 20px;
}

.faq-content h4{
  margin-top: 30px;
}

.faq-content button{
  margin-top: 20px;
  background-color: #5A31FC;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;

}

.faq-section img{
  position: absolute;
  right: 0;
  height: 400px;
}

.download-section{
  
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.download-content h1{
  font-size: 40px;
  margin-left: 45px;
  font-weight: 900;

}

.download-content span{
  font-weight: 100;
}


.download-email input{
  width: 550px;
  background-color: #E9EDFF;
  border-radius: 25px;
  border: none;
  padding: 25px;
  color: #000000;

}

input::placeholder {
  color: #000000;
  font-size: 15px;
  font-weight: 900;

}

.download-email button{
  position: relative;
  left: -140px;
  font-size: 15px;
  background-color: #5A31FC;
  padding: 17px 30px 17px 30px;
  color: #fff;
  border:none;
  border-radius: 25px;
}

.footer-section{
  display: flex;
  flex-direction: row;
  background-color: #5A31FC;
  height: 300px;
  justify-content: space-between;

}

.footer-left{
  margin-top: 100px;
  margin-left: 40px;
}

.footer-logo{
  height: 40px;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  list-style-type: none;
  margin-left: -40px;
}

.list-items{
  margin-right: 15px;
  color: #ffffff;
  font-family: 'POPPINS',sans-serif;

}

.footer-right{
  margin-top: 60px;
  margin-right: 20px;

}

.footer-logos{
  margin-right: 20px;
}

.logos-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 25px;

}

.list-item{
  margin-left: -45px;
  color: #fff;
  font-family: 'POPPINS',sans-serif;
}

.bar{
  background-color: #fff;
  width: 2px;
  height: 15px;
  margin-top: 5px;
  margin-right: 10px;
}
 .bar-2{
  background-color: #fff;
  width: 2px;
  height: 15px;
  margin-top: 5px;
  margin-right: 25px ;
  margin-left: -15px;
 }

